@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import 'font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,200i,400,400i');

/*
	Hyperbolic by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

// Breakpoints.

	@include breakpoints((
		default:   (1681px,   null     ),
		xlarge:    (1281px,   1680px   ),
		large:     (981px,    1280px   ),
		medium:    (737px,    980px    ),
		small:     (481px,    736px    ),
		xsmall:    (361px,    480px    ),
		xxsmall:   (null,     360px    )
	));

// Color.

	@mixin color($p) {
		@include color-typography($p);
		@include color-box($p);
		@include color-button($p);
		@include color-form($p);
		@include color-list($p);
		@include color-table($p);
		@include color-icon($p);
	}

// Mixins.

	@mixin gradient-background($stop: 80%, $angle: 45deg) {
		background-color: _palette(accent1);
		background-image: url('../../images/overlay.png'), linear-gradient($angle, transparentize(_palette(accent1), 1), _palette(accent2) $stop);
		background-size: auto, auto;
		background-repeat: repeat, no-repeat;
	}

	@mixin curve-before {
		$wrapper-pad: _size(wrapper-pad, default);

		margin-top: ($wrapper-pad - _size(element-margin) - 1.25rem) * -1;
		padding-top: ($wrapper-pad + ($wrapper-pad - 1.25rem));

		&:before {
			background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="1900" height="150" viewBox="0 0 1900 150" preserveAspectRatio="none"><path d="M0,0h1900c-243.3,58.2-596.3,123.9-949.4,124h-1.2C596.3,123.9,243.3,58.2,0,0z" fill="#{_palette(bg)}"/></svg>');
			background-size: 100% 100%;
			background-position: center;
			content: '';
			height: $wrapper-pad;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		@include breakpoint('<=large') {
			$wrapper-pad: _size(wrapper-pad, large);

			margin-top: ($wrapper-pad - _size(element-margin) - 1.25rem) * -1;
			padding-top: ($wrapper-pad + ($wrapper-pad - 1.25rem));

			&:before {
				background-size: 125% 100%;
				height: $wrapper-pad;
			}
		}

		@include breakpoint('<=small') {
			$wrapper-pad: _size(wrapper-pad, small);

			margin-top: ($wrapper-pad - _size(element-margin) - 1.25rem) * -1;
			padding-top: ($wrapper-pad + ($wrapper-pad - 1.25rem));

			&:before {
				background-size: 125% 100%;
				height: $wrapper-pad;
			}
		}
	}

	@mixin curve-before-alt {
		$wrapper-pad: _size(wrapper-pad, default);

		padding-top: ($wrapper-pad + ($wrapper-pad - 1.25rem));

		&:before {
			@include vendor('transform', 'scaleY(-1)');
			background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="1900" height="150" viewBox="0 0 1900 150" preserveAspectRatio="none"><path d="M0,25.7C243.4,84,596.7,150,950,150c353.3,0,706.6-66,950-124.3V150H0V25.7z" fill="#{_palette(bg)}"/></svg>');
			background-size: 100% 100%;
			background-position: center;
			content: '';
			height: $wrapper-pad;
			left: 0;
			position: absolute;
			top: -1px;
			width: 100%;
			box-shadow: inset 0 -1px 0 0 _palette(bg);
		}

		@include breakpoint('<=large') {
			$wrapper-pad: _size(wrapper-pad, large);

			padding-top: ($wrapper-pad + ($wrapper-pad - 1.25rem));

			&:before {
				background-size: 125% 100%;
				height: $wrapper-pad;
			}
		}

		@include breakpoint('<=small') {
			$wrapper-pad: _size(wrapper-pad, small);

			padding-top: ($wrapper-pad + ($wrapper-pad - 1.25rem));

			&:before {
				background-size: 125% 100%;
				height: $wrapper-pad;
			}
		}
	}

	@mixin curve-after {
		$wrapper-pad: _size(wrapper-pad, default);

		padding-bottom: ($wrapper-pad - _size(element-margin) + 1.25rem);

		&:after {
			background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="1900" height="150" viewBox="0 0 1900 150" preserveAspectRatio="none"><path d="M0,25.7C243.4,84,596.7,150,950,150c353.3,0,706.6-66,950-124.3V150H0V25.7z" fill="#{_palette(bg)}"/></svg>');
			background-size: 100% 100%;
			background-position: center;
			bottom: -1px;
			content: '';
			height: $wrapper-pad;
			left: 0;
			position: absolute;
			width: 100%;
			box-shadow: inset 0 -1px 0 0 _palette(bg);
		}

		@include breakpoint('<=large') {
			$wrapper-pad: _size(wrapper-pad, large);

			padding-bottom: ($wrapper-pad - _size(element-margin) + 1.25rem);

			&:after {
				background-size: 125% 100%;
				height: $wrapper-pad;
			}
		}

		@include breakpoint('<=small') {
			$wrapper-pad: _size(wrapper-pad, small);

			padding-bottom: ($wrapper-pad - _size(element-margin) + 1.25rem);

			&:after {
				background-size: 125% 100%;
				height: $wrapper-pad;
			}
		}
	}

// Base.

	@import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/row';
	@import 'components/box';
	@import 'components/button';
	@import 'components/form';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/actions';
	@import 'components/icons';
	@import 'components/table';
	@import 'components/wrapper';
	@import 'components/spotlights';
	@import 'components/features';

// Layout.

	@import 'layout/banner';
	@import 'layout/header';
	@import 'layout/footer';
	@import 'layout/navPanel';